# Your Telegram bot token obtained using @BotFather
TELEGRAM_BOT_TOKEN="tel bot token"

# Telegram target chat ID (required, can be channel ID like @channelname or user ID like 123456789)
TELEGRAM_TARGET_CHAT="@xxxxx"

# Telegram Bot API Base URL (optional, if not set, will use official API)
# For local Bot API server, set to: http://localhost:8081
# TELEGRAM_API_BASE_URL="http://localhost:8081"

#DISCORD_TOKEN=""




